<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>new app</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <link href="static/css/styles.css" rel="stylesheet"> {% endcomment %}
        <link href="{% static "./css/styles.css" %}" rel="stylesheet" >
    </head>
    <body>
        <h1>This is header</h1>
        <div class="container">
            <form method='POST'>
                {% csrf_token %}
                <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name">
                {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Age</label>
                <input type="number" name="age" class="form-control" id="age" placeholder="Enter Age">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <h1>HEY!!!!</h1>
            <div class="container">
              <p>
                      {% for data in detail %}
                          {{ data.name}}
                          {{ data.age }}
                      {% endfor %}
              </p>
              </div> 
        </div>
       

        <script src="" async defer></script>
    </body>
</html>